.user-input {
  background: #ebeded !important;
  .sen_booster-input-number-affix-wrapper {
    padding: 9px 12px;
  }
  .sen_booster-input-number-input-wrap {
    padding: 5px 12px !important;
  }
  
}

.sen_booster-list-items {
  padding-left: 8px !important;
  .sen_booster-list-item {
    padding: 0px !important;
  }
}

#dark {
  .user-input { 
    background: #232324 !important;
  }
}
