/**
 * Available vars: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 */

@import '~antd/dist/antd.less';
@import './common/vars.less';
@import './common/polyfill.less';
@import './common/typography.less';
@import './common/scrollbar.less';

// Colors
@primary-color: @PRIMARY;
@info-color: @INFO;
@success-color: @SUCCESS;
@warning-color: @WARNING;
@error-color: @ERROR;
@popover-background: @NEUTRAL100;
@body-background: @NEUTRAL05;
@component-background: @NEUTRAL05;
@disabled-bg: @NEUTRAL10;

// Typography
@font-family: 'Nunito', sans-serif;
@text-color: @NEUTRAL100;
@text-color-secondary: @NEUTRAL60;
@heading-color: @NEUTRAL100;
@disabled-color: @NEUTRAL40;
@typography-title-margin-top: 0px;
@typography-title-margin-bottom: 0px;

// Border
@border-radius-base: 8px;
@border-color-base: @NEUTRAL20;
@border-width-base: 1px;
@popover-customize-border-color: @border-color-base;
@border-color-split: @border-color-base;

//CollapsePanel
@collapse-panel-border-radius: @border-radius-base * 2;

// Card
@card-radius: @border-radius-base * 2;
@card-actions-background: @NEUTRAL05;
@card-background: @BACK_GROUND_COLOR;
@card-shadow: @LIGHT_SHADOW2;

// Modal
@modal-header-bg: @NEUTRAL05;
@modal-content-bg: @NEUTRAL05;
@modal-footer-bg: @NEUTRAL05;
@modal-footer-padding-horizontal: 24px;

// Drawer
@drawer-bg: @NEUTRAL05;

// Button
@btn-font-weight: 700;
@btn-shadow: unset;
@btn-primary-shadow: unset;
@btn-text-shadow: unset;
@btn-default-border: @BORDER_BTN;
@btn-default-ghost-color: @NEUTRAL100;
@btn-default-ghost-border: @BORDER_BTN;

// Input
@input-placeholder-color: @NEUTRAL60;
@input-bg: @BACKGROUND_INPUT;
@input-height-lg: @height-lg + 2;
// Divider
@divider-color: @NEUTRAL10;
@divider-orientation-margin: 0;

// Checkbox
@checkbox-border-radius: @border-radius-base - 4;

// Menu
@menu-bg: @TRANSPARENT;

// Patch
.@{ant-prefix}-layout {
  background: unset;
}

.account-item {
  background-color: #fff !important;
}

.close-account {
  background: #ededeb;
}

.card-cleanup {
  background: #ffffff !important;
}

.nft-element-collapse-custom-collapse {
  .sen_assets-collapse-header {
    background: white;
    border-radius: 12px !important;
  }
}
