.card-manage {
  .sen_booster-modal-header {
    background: #f9f9fa !important;
    border: none !important;
  }

  &-body {
    background: #ffffff !important;
  }
}

.sen_booster-tabs-ink-bar {
  background: #0fb5b8 !important;
}

#dark {
  .card-manage {
    .sen_booster-modal-header {
      background: #242838 !important;
    }

    &-body {
      background: #2c2e3d !important;
    }
  }
}
