input {
  border-radius: 8px;
}

.sen_booster-segmented-item-selected {
  border-radius: 8px;
  border: 1px solid rgba(15, 181, 184, 0.3);
  color: #0FB5B8 !important;
}

.sen_booster-input-number {
  width: 100% !important;
  border: none !important;
  .sen_booster-input-number-handler-wrap {
    display: none !important;
  }
}

.date-option {
  width: 100% !important;
  border: none !important;
  background-color: #ebeded !important ;
  padding: 0px 12px !important;
  input {
    padding: 0px !important;
  }
}

.sen_booster-picker-panel-container {
  .sen_booster-picker-cell-inner:hover {
    background: #0fb5b8 !important;
  }
  .sen_booster-picker-time-panel-cell-inner {
    &:hover {
      background: #0fb5b8 !important;
    }
  }
  .sen_booster-picker-cell-in-view.sen_booster-picker-cell-selected
    .sen_booster-picker-cell-inner {
    background: #0fb5b8 !important;
  }
  .sen_booster-picker-time-panel-column
    > li.sen_booster-picker-time-panel-cell-selected
    .sen_booster-picker-time-panel-cell-inner {
    background: #0fb5b8 !important;
  }
}

.mint-selection {
  padding: 8px 12px !important;
  width: 100% !important;
  text-align: left !important;
  background: #ebeded !important;
  height: 40px !important;
  color: #7a7b85 !important;
}

#dark {
  .sen_booster-segmented-item-selected {
    border: 1px solid rgba(15, 181, 184, 0.2);
  }
  input {
    border-radius: 8px;
  }
  .date-option {
    background-color: #232324 !important ;
    border: 1px solid #373947 !important;
    input {
      border: none !important;
    }
  }
  .mint-selection {
    background-color: #232324 !important;
    border: 1px solid #373947 !important;
  }
}

.upload-box {
  border: 1px dashed #D3D3D6;
  border-radius: 8px;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
